header {
    background: #1a1a2e;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    animation: slideDown 1s ease-in-out;
    width: 100%;
    
  }
  nav {
    display: flex;
    padding: 0 1%;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  nav #menu {
    margin: 0 auto;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  nav a:hover {
    color: #00adb5;
  }

  @media (max-width: 481px) {
    #servicesbtn {
      display: none;
    }
    #contactbtn{
      display: none;
    }
  }